//Colors
$light: #f8f9fa;
$green: #30928a !important;

$bg-lightdark: #eaedef;

$icon-hover: #59626a !important;
$icon-active: $green;
$dropdown-links-active: $green;

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 0px;
